<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Название</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Автор</mat-label>
    <input matInput formControlName="author" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Описание</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Добавить</button>
</form>
